version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: laravel_app
    volumes:
      - .:/var/www
    depends_on:
      - mysql
    networks:
      - laravel
    command: php-fpm

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - .:/var/www                   # your Laravel app code
      - ./docker/nginx:/etc/nginx/conf.d  # your nginx config
      - /etc/letsencrypt/live/myserver.armandowni.com/fullchain.pem:/etc/nginx/ssl/fullchain.pem:ro
      - /etc/letsencrypt/live/myserver.armandowni.com/privkey.pem:/etc/nginx/ssl/privkey.pem:ro
    depends_on:
      - app
    networks:
      - laravel

  mysql:
    image: mysql:8.0
    container_name: laravel_mysql
    environment:
      MYSQL_DATABASE: laraveldb
      MYSQL_USER: duckcanfly
      MYSQL_PASSWORD: duck4rm4nd0
      MYSQL_ROOT_PASSWORD: duckcanfly@laravel
    command: --innodb-buffer-pool-size=128M
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - laravel

volumes:
  dbdata:

networks:
  laravel:
