version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: laravel_app
    volumes:
      - .:/var/www
    depends_on:
      - mariadb
    networks:
      - laravel
    command: php-fpm

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./docker/nginx:/etc/nginx/conf.d
      - .:/var/www
      - ./docker/certbot/conf:/etc/letsencrypt
      - ./docker/certbot/www:/var/www/certbot
    depends_on:
      - app
    networks:
      - laravel
    restart: unless-stopped

  mariadb:
    image: mariadb:11.2
    container_name: laravel_mariadb
    environment:
      MYSQL_DATABASE: laraveldb
      MYSQL_USER: duckcanfly
      MYSQL_PASSWORD: duck4rm4nd0
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - laravel
    restart: unless-stopped

  certbot:
    image: certbot/certbot
    container_name: laravel_certbot
    volumes:
      - ./docker/certbot/conf:/etc/letsencrypt
      - ./docker/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

volumes:
  dbdata:

networks:
  laravel: