@tailwind base;
@tailwind components;
@tailwind utilities;

.mediaViewInfo {
    --web-view-name: Login;
    --web-view-id: Login;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Login;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#Login {
    @apply bg-white;
    position: absolute;
    width: 100%;
    height: 100dvh;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    --web-view-name: Login;
    --web-view-id: Login;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* footer dan header */
#Footer {
    position: absolute;
    width: 100%;
    height: 94px;
    left: 0px;
    bottom: 0px;
    overflow: visible;
    background-color: cadetblue;
}
#ID2019_Copyright__Bluejack_17_ {
    position: absolute;
    left: 483.5px;
    top: 28px;
    overflow: visible;
    width: 383px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    color: rgba(255, 255, 255, 1);
}
#Header {
    position: absolute;
    width: 100%;
    height: 94px;
    left: 0px;
    top: 0px;
    overflow: visible;
    background-color: cadetblue;
}
#login_regis {
    @apply flex;
    @apply justify-between;
    @apply items-center;
    position: absolute;
    width: 100%;
    height: 38px;
    left: 182px;
    top: 28px;
    overflow: visible;
}
#Login_A0_Text_7 a {
    position: absolute;
    text-decoration: none;
    left: 809px;
    top: 0px;
    overflow: visible;
    width: 72px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    color: rgba(255, 255, 255, 1);
}
#Register a {
    position: absolute;
    text-decoration: none;
    left: 917px;
    top: 0px;
    overflow: visible;
    width: 104px;
    white-space: nowrap;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: register.html;
    cursor: pointer;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    color: rgba(255, 255, 255, 1);
}
#_ {
    position: absolute;
    left: 895px;
    top: 0px;
    overflow: visible;
    width: 8px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    color: rgba(255, 255, 255, 1);
}
#Mimi_Shop a {
    text-decoration: none;
    position: absolute;
    /* left: 200px; */
    /* top: 30px; */
    overflow: visible;
    width: 140px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    color: rgba(255, 255, 255, 1);
}

/* container login */
#container {
    position: absolute;
    width: 660px;
    height: 352px;
    left: 344.5px;
    top: 150px;
    overflow: visible;
}
.outer_line {
    position: absolute;
    overflow: visible;
    width: 660px;
    height: 352px;
    left: 0px;
    top: 0px;
}
#container form #btnsignin {
    position: absolute;
    width: 613px;
    height: 47px;
    left: 30px;
    top: 278px;
    overflow: visible;
    /* color: blue; */
    /* fill: blue; */
}
#container form #btnsignin button {
    position: absolute;
    overflow: visible;
    width: 613px;
    height: 40px;
    left: 0px;
    top: 0px;
    background-color: blue;
    color: white;
    font-size: 20px;
    /* fill: blue; */
}
#containerform #btnsignin text {
    position: absolute;
    left: 265px;
    top: 8px;
    overflow: visible;
    width: 70px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}
#remmber_me {
    position: absolute;
    width: 166px;
    height: 27px;
    left: 12px;
    top: 230px;
    overflow: visible;
}
#Remember_Me {
    position: absolute;
    left: 20px;
    bottom: 5px;
    overflow: visible;
    width: 100px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(1, 1, 1, 1);
}
#password {
    position: absolute;
    width: 613px;
    height: 47px;
    left: 30px;
    top: 162px;
    overflow: visible;
}
#Password input {
    position: absolute;
    left: 0px;
    top: 3px;
    overflow: visible;
    width: 613px;
    height: 47px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(88, 87, 87, 1);
}
#username {
    position: absolute;
    width: 613px;
    height: 47px;
    left: 30px;
    top: 90px;
    overflow: visible;
}

#Email_address input {
    position: absolute;
    left: 0px;
    top: 3px;
    overflow: visible;
    width: 613px;
    height: 47px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(88, 87, 87, 1);
}
#Sign_In {
    position: absolute;
    left: 270px;
    top: 10px;
    overflow: visible;
    width: 122px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(88, 87, 87, 1);
}

/* container register */
#container1 {
    position: absolute;
    width: 435px;
    height: 470px;
    left: 458.5px;
    top: 110.716px;
    border: 1px solid black;
}
#btnregister {
    position: absolute;
    width: 613px;
    height: 47px;
    left: 30px;
    top: 410px;
    overflow: visible;
}
#btnregister button {
    position: absolute;
    left: 0px;
    top: 3px;
    overflow: visible;
    width: 370px;
    height: 40px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: black;
}
#term {
    position: absolute;
    width: 613px;
    height: 47px;
    left: 30px;
    top: 380px;
    overflow: visible;
}

#I_Agree_to_Terms_and_Condition {
    position: absolute;
    left: 0px;
    top: 3px;
    overflow: visible;
    width: 180px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(1, 1, 1, 1);
}
.Pp {
    position: absolute;
    width: 110px;
    height: 48px;
    left: 30px;
    top: 320px;
    overflow: visible;
}
#button_browse {
    position: absolute;
    width: 88px;
    height: 24px;
    left: 0px;
    top: 24px;
    overflow: visible;
}
#Browse___ {
    position: absolute;
    left: 0px;
    top: 3px;
    overflow: visible;
    width: 58px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(0, 0, 0, 1);
}
#pp {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 111px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
}
#gender {
    position: absolute;
    width: 613px;
    height: 47px;
    left: 30px;
    top: 280px;
    overflow: visible;
}
#gender_A1_Text_6 select {
    position: absolute;
    left: 0px;
    top: 3px;
    overflow: visible;
    width: 370px;
    height: 30px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(88, 87, 87, 1);
}
#phone {
    position: absolute;
    width: 613px;
    height: 47px;
    left: 30px;
    top: 240px;
    overflow: visible;
}
#phone1 input {
    position: absolute;
    left: 0px;
    top: 3px;
    overflow: visible;
    width: 370px;
    height: 30px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(88, 87, 87, 1);
}
#address1 {
    position: absolute;
    width: 613px;
    height: 47px;
    left: 30px;
    top: 200px;
    overflow: visible;
}
#Password1 input {
    position: absolute;
    left: 0px;
    top: 3px;
    overflow: visible;
    width: 370px;
    height: 30px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(88, 87, 87, 1);
}
#Confirm_password1 {
    position: absolute;
    width: 613px;
    height: 47px;
    left: 30px;
    top: 160px;
    overflow: visible;
}
#Password_A1_Text_8 input {
    position: absolute;
    left: 0px;
    top: 3px;
    overflow: visible;
    width: 370px;
    height: 30px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(88, 87, 87, 1);
}
#password1 {
    position: absolute;
    width: 613px;
    height: 47px;
    left: 30px;
    top: 120px;
    overflow: visible;
}
#Password_A1_Text_9 input {
    position: absolute;
    left: 0px;
    top: 3px;
    overflow: visible;
    width: 370px;
    height: 30px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(88, 87, 87, 1);
}
#email1 {
    position: absolute;
    width: 613px;
    height: 47px;
    left: 30px;
    top: 80px;
    overflow: visible;
}
#Email_address1 input {
    position: absolute;
    left: 0px;
    top: 3px;
    overflow: visible;
    width: 370px;
    height: 30px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(88, 87, 87, 1);
}
#fullname {
    position: absolute;
    width: 613px;
    height: 47px;
    left: 30px;
    top: 40px;
    overflow: visible;
}
#Fullname input {
    position: absolute;
    left: 0px;
    top: 3px;
    overflow: visible;
    width: 370px;
    height: 30px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(88, 87, 87, 1);
}
#Sign_Up {
    position: absolute;
    left: 177px;
    top: 7px;
    overflow: visible;
    width: 91px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(88, 87, 87, 1);
}

/* container barang */
#containerbarang {
    position: absolute;
    width: 100%;
    left: 300px;
    top: 126.716px;
    overflow: visible;
}
#Welcome {
    position: absolute;
    left: 0px;
    top: 29.284px;
    overflow: visible;
    width: 83px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
}
#rowBarang {
    display: table;
    float: left;
    position: absolute;
    left: 190px;
    top: 0px;
    overflow: visible;
}
.column {
    float: left;
    padding: 0 20px;
}
.card {
    border: 1px solid black;
    width: 160px;
    height: 450px;
    text-align: center;
    background-color: #f1f1f1;
}
.card img {
    /* border-top: 1px solid black; */
    width: 100%;
    height: 200px;
}
.card #isi {
    position: absolute;
    text-align: left;
    top: 210px;
}
.card #bawah {
    width: 160px;
    border-top: 1px solid black;
    position: absolute;
    bottom: 10px;
    text-align: left;
}
.card #bawah button {
    width: 150px;
    /* border-top:1px solid black; */
    position: absolute;
    left: 5px;
    bottom: 0px;
    text-align: left;
}
#Current_time {
    position: absolute;
    left: 0px;
    top: 56.284px;
    overflow: visible;
    width: 73px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
}
#Mimi_Figure_Shop {
    position: absolute;
    left: 0px;
    top: 78.284px;
    overflow: visible;
    width: 133px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(0, 0, 0, 1);
}
#search {
    position: absolute;
    top: 160px;
}

/* navbar member */
#login_regis ul {
    display: inline-block;
    position: relative;
    left: 250px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
}
#login_regis ul li {
    float: left;
}
#login_regis li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 20px;
}
ul#user {
    position: absolute;
    left: 550px;
}

/* container insert */
#containerInsert {
    position: absolute;
    width: 432px;
    height: 470px;
    left: 458px;
    top: 100px;
    border: 1px solid black;
    overflow: visible;
}
#Button_Sign_in {
    position: absolute;
    width: 402px;
    height: 31px;
    left: 18px;
    top: 421px;
    overflow: visible;
}
#INSERT button {
    position: absolute;
    overflow: visible;
    width: 400px;
    height: 40px;
    left: 0px;
    top: 0px;
    background-color: blue;
    color: white;
    font-size: 20px;
}
#INSERT text {
    position: absolute;
    left: 0px;
    top: 3px;
    overflow: visible;
    width: 400px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}
#Pp {
    position: absolute;
    width: 110px;
    height: 48px;
    left: 20px;
    top: 350px;
    overflow: visible;
}
#button_browse {
    position: absolute;
    width: 88px;
    height: 24px;
    left: 0px;
    top: 24px;
    overflow: visible;
}
#Browse___ {
    position: absolute;
    left: 0px;
    top: 2px;
    overflow: visible;
    width: 58px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(0, 0, 0, 1);
}
#pp {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 111px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
}
#category {
    position: absolute;
    width: 401px;
    height: 31px;
    left: 18px;
    top: 260px;
    overflow: visible;
}
#category select {
    position: absolute;
    left: 0px;
    top: 3px;
    overflow: visible;
    width: 400px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    /* color: rgba(88,87,87,1); */
}
#role {
    position: absolute;
    width: 401px;
    height: 31px;
    left: 9px;
    top: 150px;
    overflow: visible;
}
#role select {
    position: absolute;
    left: 0px;
    top: 3px;
    overflow: visible;
    width: 400px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    /* color: rgba(88,87,87,1); */
}
#price {
    position: absolute;
    width: 401px;
    height: 31px;
    left: 18px;
    top: 220px;
    overflow: visible;
}
#category_A2_Text_6 input {
    position: absolute;
    left: 0px;
    top: 3px;
    overflow: visible;
    width: 400px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(88, 87, 87, 1);
}
#quantity {
    position: absolute;
    width: 401px;
    height: 31px;
    left: 18px;
    top: 180px;
    overflow: visible;
}
#category_A2_Text_7 input {
    position: absolute;
    left: 0px;
    top: 3px;
    overflow: visible;
    width: 400px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(88, 87, 87, 1);
}
#descfig {
    position: absolute;
    width: 401px;
    height: 100px;
    left: 18px;
    top: 95px;
    overflow: visible;
}
#Decription textarea {
    position: absolute;
    left: 0px;
    top: 3px;
    overflow: visible;
    width: 400px;
    /* height: 100px; */
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(88, 87, 87, 1);
}
#figurename {
    position: absolute;
    width: 613px;
    height: 47px;
    left: 18px;
    top: 50px;
    overflow: visible;
}
#Figurename input {
    position: absolute;
    left: 0px;
    top: 3px;
    overflow: visible;
    width: 400px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(88, 87, 87, 1);
}
#Insert_Figure {
    position: absolute;
    left: 140px;
    top: 5px;
    overflow: visible;
    width: 144px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(88, 87, 87, 1);
}

/* container update */
#containerUpdate {
    position: absolute;
    width: 432px;
    height: 470px;
    left: 458px;
    top: 100px;
    border: 1px solid black;
    overflow: visible;
}

/* container detail */
#container_detail {
    position: absolute;
    width: 1349px;
    height: 579px;
    left: 0px;
    top: 94px;
    overflow: visible;
}
.kanan {
    overflow: visible;
    position: absolute;
    width: 230.267px;
    height: 424px;
    left: 863.844px;
    top: 57px;
    /* border: 1px solid black; */
}
.kanan ul {
    overflow: visible;
    position: absolute;
    width: 10px;
    left: 30px;
    top: 57px;
}
#Figure_Description {
    position: absolute;
    /* left: 874px; */
    /* top: 66px; */
    overflow: visible;
    width: 350px;
    height: 150px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
}
#Figure_Description p {
    position: absolute;
    /* left: 874px; */
    /* top: 66px; */
    overflow: visible;
    width: 350px;
    height: 150px;
    text-align: justify;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 5px;
    color: rgba(0, 0, 0, 1);
}
#Figure_Detail {
    position: absolute;
    /* left: 874px; */
    top: 170px;
    overflow: visible;
    width: 113px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
}
.Rectangle_12 {
    position: absolute;
    overflow: visible;
    width: 322px;
    height: 424px;
    left: 302px;
    top: 57px;
    border: 1px solid black;
}

/* container feedback */
#container_feedback {
    position: absolute;
    width: 1349px;
    height: 579px;
    left: 0px;
    top: 94px;
    overflow: visible;
}
#container_feedback .tengah {
    overflow: visible;
    position: absolute;
    width: 300px;
    height: 200px;
    left: 550px;
    top: 57px;
    border: 1px solid black;
}
.judul {
    position: relative;
    left: 70px;
    top: 10px;
    text-align: left;
    font-size: 25px;
}
textarea {
    position: relative;
    width: 250px;
    height: 50px;
    left: 26px;
    top: 20px;
}
#container_feedback button {
    position: absolute;
    left: 26px;
    top: 150px;
    overflow: visible;
    width: 250px;
    /* white-space: nowrap; */
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(0, 0, 0, 1);
}

/* container insert category */
#container_insertcat {
    position: absolute;
    width: 1349px;
    height: 579px;
    left: 0px;
    top: 94px;
    overflow: visible;
}
#container_insertcat .tengah {
    overflow: visible;
    position: absolute;
    width: 300px;
    height: 200px;
    left: 550px;
    top: 57px;
    border: 1px solid black;
}
.judul {
    position: relative;
    left: 70px;
    top: 10px;
    text-align: left;
    font-size: 25px;
}
#container_insertcat input {
    position: relative;
    width: 250px;
    height: 50px;
    left: 26px;
    top: 20px;
}

#container_insertcat button {
    position: absolute;
    left: 26px;
    top: 150px;
    overflow: visible;
    width: 250px;
    /* white-space: nowrap; */
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(0, 0, 0, 1);
}

/* container cart */
#container_cart {
    position: absolute;
    width: 100%;
    height: 1000px;
    left: 0px;
    top: 94px;
    overflow: visible;
}
#container_cart .tengah {
    overflow: visible;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
#tablecart {
    position: relative;
    left: 35px;
    top: 10px;
    text-align: center;
    font-size: 30px;
}
#tablecart th {
    padding: 10px 50px;
}

/* container transaction */
#container_transaction {
    position: absolute;
    width: 1349px;
    height: 579px;
    left: 0px;
    top: 94px;
    overflow: visible;
}
.tengah {
    overflow: visible;
    position: absolute;
    width: 1394px;
    height: 400px;
    left: 0px;
    top: 0px;
}
#tabletransaction {
    position: relative;
    left: 35px;
    top: 10px;
    text-align: center;
    font-size: 30px;
    /* border: 1px solid black; */
}
#tabletransaction th {
    padding: 10px 10px;
}

/* container admin */
#container_transactionadmin {
    position: absolute;
    width: 1349px;
    height: 579px;
    left: 0px;
    top: 94px;
    overflow: visible;
}
#tabletransactionadmin .tengah {
    overflow: visible;
    position: absolute;
    width: 1394px;
    height: 400px;
    left: 0px;
    top: 0px;
}
#container_transactionadmin .tengah #atas {
    /* overflow: visible; */
    position: absolute;
    left: 100px;
    top: 10px;
}
#tabletransactionadmin {
    position: relative;
    left: 100px;
    top: 100px;
    text-align: center;
    font-size: 30px;
    /* border: 1px solid black; */
}
#tabletransactionadmin th {
    padding: 10px 20px;
}

/* container manage feedback */
#container_managefeedback {
    position: absolute;
    width: 1349px;
    height: 100%;
    left: 0px;
    top: 94px;
    overflow: visible;
}
#container_managefeedback .tengah {
    overflow: visible;
    position: absolute;
    width: 1394px;
    height: 400px;
    left: 25%;
    top: 0px;
}
#tablemanagefeedback {
    position: absolute;
    left: 35px;
    top: 10px;
    text-align: left;
    font-size: 30px;
    /* border: 1px solid black; */
}
#tablemanagefeedback th {
    padding: 10px 10px;
}

/* container manage figure */
#container_managefigure {
    position: absolute;
    width: 1349px;
    height: 0px;
    left: 0px;
    top: 94px;
}
#container_managefigure .tengah {
    overflow: visible;
    position: absolute;
    width: 1394px;
    height: 400px;
    /* left: 100px; */
    top: 10px;
}
.insertbtn {
    position: relative;
    left: 50px;
}
#tablemanagefigure {
    position: relative;
    width: 50%;
    height: 10px;
    /* left: 10%; */
    /* top: 10px; */
    text-align: left;
    font-size: 30px;
}
#tablemanagefigure th {
    padding: 10px 20px;
}

/* all table */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* container manage user */
#container_manageuser {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 94px;
}
#container_manageuser .tengah {
    overflow: visible;
    position: absolute;
    width: 1394px;
    /* height: 400px; */
    left: 0px;
    top: 0px;
}
.insertbtnuser {
    position: relative;
    left: 50px;
    top: 10px;
}
#tablemanageuser {
    position: absolute;
    width: 50%;
    /* height: 100%; */
    /* left: 5px; */
    top: 50px;
    text-align: left;
    font-size: 30px;
    overflow: auto;
}
#tablemanageuser th {
    padding: 10px 15px;
}

/* container manage category */
#container_managecategory {
    position: absolute;
    width: 1349px;
    height: 579px;
    left: 0px;
    top: 94px;
    overflow: visible;
}
#container_managecategory .tengah {
    overflow: visible;
    position: absolute;
    width: 100%;
    height: 400px;
    left: 28%;
    top: 10%;
}
#tablemanagecategory {
    position: relative;
    left: 100px;
    top: 10px;
    text-align: left;
    font-size: 30px;
}
#tablemanagecategory th {
    padding: 10px 20px;
}

/*error*/
.isa_info,
.isa_success,
.isa_warning,
.isa_error {
    margin: 10px 0px;
    padding: 12px;
}
.isa_error {
    color: #d8000c;
    background-color: #ffd2d2;
}
